body {
    background-image: url(../../assets/images/clouds.jpeg);
}

#content-area {
   
    margin-top: 300px;
    padding: 10px;
    margin: auto;
    width: 50%;
    border: 3px solid white;
    background-color: rgb(255, 255, 255, .5);
}

#submitbutton {
    background-color: red;
}

header {
    padding: 5px;
    
    font-family: 'Sacramento', cursive;
}

h1 {
    font-size: 85px;
}